
@import url('https://fonts.googleapis.com/css?family=Roboto');


html, body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    background-color: #dedede !important;
  }
  
  #root {
    height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }


 .login-with-github {
   text-decoration: none;
   color: blue;
 }