.container-about-use {
  margin-top: -400px;
  background-color: white;
  width: 1400px;
}
.title-1 {
  color: black;
  padding-top: 50px;
  font: sans-serif;
  text-align: center;
}
.img-thumbnail {
  border: 0 none;
  border-radius: 12px;
  box-shadow: 0 1px 2px rgba(164, 158, 147, 0.6);
  margin-bottom: 10px;
  width: 200px;
  height: 230px;
}
.img-circle {
  background-color: #ffffff;
  margin-bottom: 10px;
  padding: 4px;
  border-radius: 50% !important;
  max-width: 100%;
  width: 200px;
  height: 220px;
  box-shadow: 3px 3px 8px -2px rgb(53, 49, 56);
}

.images-title {
  color: black;
  font: sans-serif;
}
.main-1 {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 150px;
  padding-right: 150px;
}
.a-about {
  color: white;
}
.a-about:hover {
  color: white;
}
