.button {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: transparent;
    color: white;
    border-radius: 5px;
}
.button:hover {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}
.button:focus {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: #8a2be2;
    color: white;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none;
}
.button:active {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: #8a2be2;
    color: white;
    border-radius: 5px;
    outline: none !important;
    box-shadow: none;
}

.search {
    border-radius: 10px;
    border: 2px solid #c0c0c0;
    padding: 20px; 
    width: 200px;
    height: 15px;
    color: white;
    background-color: transparent;   
}
.claseform {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
}

.navigation {
    background: #8E2DE2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #8E2DE2, #4A00E0);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #8E2DE2, #4A00E0); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 400px;
    color: white;
    display: flex;
    justify-content: space-evenly;
}


::-webkit-input-placeholder {
    color:    white;
    font-size: 17px
}

.brand {
}

.sign {
}

.image-brand {
    margin-bottom: 1rem;
    margin-left: 2rem;
    height: 7rem;
}

.login-message {
    font-size: 20px
}

.button-search-bar {
    border: none;
    height: 2.7rem;
    width: 5rem;
    background-color: #8a2be2;
    color: white;
    border-radius: 5px;
    font-size: 17px;
}
.button-search-bar:hover {
    border: none;
    height: 2.7rem;
    width: 5rem;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}
.button-search-bar:focus {
    border: none;
    height: 2.7rem;
    width: 5rem;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}

.sign-up-button {
    margin-right: 2rem;
}

.button-register {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: #8a2be2;
    color: white;
    border-radius: 5px;
}
.button-register:hover {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}
.button-register:focus {
    border: none;
    height: 2.5rem;
    width: 5rem;
    background-color: darkviolet;
    color: white;
    border-radius: 5px;
}