.table-cart {
  margin-top: -150px;
  margin-right: 200px;
}

.cart-button {
  color: white;
  background-color: #8a2be2;
  font-size: 18px;
  margin-left: 2rem;
  margin-top: 1rem;
  border-radius: 8px;
  border: none;
}

.cart-image-div {
  display: flex;
  align-items: center;
  margin-left: 2rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
