.image-profile {
    position: relative;
    left: 100px;
    box-shadow: 3px 3px 8px -2px rgb(53, 49, 56);
}

.table-responsive{
  margin: 15px;
}
.nav-link {
  text-decoration: none;
  text-align: left;
  width: fit-content;
  color: aliceblue;
}
th{
  color: rgb(180, 130, 238);
}
.History{
  color: rgb(106, 53, 167);
  text-shadow: 1.5px 1.5px rgb(53, 49, 56);
}
.textShadow {
  text-shadow: 3px 3px rgb(53, 49, 56);
}
Button{
  box-shadow: 3px 3px 8px -2px rgb(53, 49, 56);
}