@import url('https://fonts.googleapis.com/css?family=Roboto');

.image-profile {
    position: relative;
    left: 100px;
    box-shadow: 3px 3px 8px -2px rgb(53, 49, 56);
}

.table-responsive{
  margin: 15px;
}
.nav-link {
  text-decoration: none;
  text-align: left;
  width: fit-content;
  color: aliceblue;
}
th{
  color: rgb(180, 130, 238);
}
<<<<<<< HEAD

.profileFont {
  font-family: 'Roboto';
  font-weight: lighter;
  color: black;
  font-size: 40px;
} 

.content-profile-names {
  font-family: 'Roboto';
  font-weight: lighter;
  color: black;
  font-size: 20px;
}
.History{
  color: rgb(106, 53, 167);
  text-shadow: 1.5px 1.5px rgb(53, 49, 56);
}
.textShadow {
}
Button{
}