.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.catalogo {
  margin-top: -350px;
  
}

.column-productcard {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
}

.no-products {
  color: white;
  margin-top: 4rem;
  margin-left: 10rem;
}

.spinner-catalogo {
  color: #8a2be2;
  width: 6rem;
  height: 6rem;
  margin-left: 30rem;
  margin-top: 20rem;
}

@media (min-width: 600px) {
  .catalogo {
    margin-top: -350px;
    
  }
}