.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
.catalogo {
  margin-top: -350px;
  
}

.margin-right-catalogo {
  margin-right: 150px;
}

.sidebar-component-catalogo {
  
  margin-left: 150px;
  margin-right: 50px;
}

.column-productcard {
  width: 20rem;
  display: flex;
  flex-wrap: wrap;
  
}

.no-products {
  color: white;
  margin-top: 4rem;
  margin-left: 10rem;
}

.spinner-catalogo {
  color: #8a2be2;
  width: 6rem;
  height: 6rem;
  margin-left: 30rem;
  margin-top: 20rem;
}

.filter-categories {
  display: none;
  opacity: 0;
}

@media (max-width: 1300px) {
  .catalogo {
    margin-top: -350px;
    
  }

  .sidebar-component-catalogo {
    margin-right: 0px;
    margin-left: 20px;box-shadow: 5px 5px 10px -2px rgb(53, 49, 56);
    border-radius: 15px;
    display: none;
  }

  .margin-right-catalogo {
    margin-right: 0px;
  }

  .filter-categories {
    opacity: 1;
    position: relative;
    bottom: 300px;
  }
  
  .margin-right-catalogo {
    width: 100%;
  }
}