

.navbar {
    transition: all 0.4s;
}

.navbar .nav-link {
    color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
    color: #fff;
    text-decoration: none;
}

.navbar .navbar-brand {
    color: #fff;
}


/* Change navbar styling on scroll */
.navbar.active {
    background: #fff;
    box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.1);
}

.navbar.active .nav-link {
    color: #f2f2f2f2;
}

.navbar.active .nav-link:hover,
.navbar.active .nav-link:focus {
    color: rgb(161, 7, 167);
    text-decoration: none;
}

.navbar.active .navbar-brand {
    color: #555;
}


ul{
    
    display: flex;
    flex-direction: row;
    align-items: baseline;
    list-style-type: none;
}


li {
    flex-grow: 4;
    text-decoration: none;
}

/* Change navbar styling on small viewports */
@media (max-width: 991.98px) {
    .navbar {
        background: #fff;
    }

    .navbar .navbar-brand, .navbar .nav-link {
        color: #555;
    }
}