@import url('https://fonts.googleapis.com/css?family=Roboto');

.product-card {
    height: 30rem;
    width: 19rem;
    padding: 1rem;
    margin-left: 1rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    position: relative;
    background-color: white;
    border-radius: 20px;
}

.border-card {
    border-radius: 20px;
}

.border-buttom {
    height: 2.8rem;
    width: 9rem;
    border-radius: 5px;
    background-color: #7F00FF;
    color: white;
    border: none;
}


.image {
    margin-top: 1rem;
    height: 15rem;
    transition: transform .2s;
    background-color: brown;
}

.image:hover {
    transform: scale(1.2);
}

.button-heart {
    padding: 0;
    border: none;
    background: none;   
}

.container-name-description {
    position: relative;
    height: 6rem;
    background-color: blueviolet;
}

.stock-price-cart {
    position: relative;
}

.title-card {
    display: relative;
    font-family: 'Roboto';
    font-size: 25px;
    width: 15rem;
    text-align: center;
    margin-left: 7px;
    margin-top: 2rem;
}

.description-card {
    padding-bottom: 15px;
    border-bottom: 1px #c0c0c0 solid;
    font-size: 20px;
}

.price-card {
    font-size: 28px;
    position: relative;
    top: 15px
}

.stock-card {
    font-size: 18px;
}