.products-container {
    /* margin-top: 4rem; */
    background-color: white;
    margin-top: -250px;
    box-shadow: 5px 5px 10px -2px rgb(53, 49, 56);
    border-radius: 15px;
}
.reviews-container {
    background-color: white;
    position: relative;
    bottom: 150px;
    box-shadow: 5px 5px 10px -2px rgb(53, 49, 56);
    border-radius: 15px;
}

.products-title {
    font-size: 40px;
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
}

.products-description {
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 2rem;
    margin-right: 2rem;
}

.products-categories {
    margin-left: 2rem;
    font-size: 20px;
}

.RO-products-button {
    border: 1px solid #8a2be2;
    height: 55px;
    width: 400px;
    color: #8a2be2;
    background-color: white;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
}
.products-button {
    border: none;
    height: 55px;
    width: 400px;
    color: white;
    background-color: #8a2be2;
    font-size: 20px;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
}

.products-stock {
    font-size: 17px;
    margin-left: 2rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.products-image {
    height: 600px;
    width: 600px;
}

.products-image-div {
    display: flex;
    align-items: center;
    width: 600px;
    margin-left: 2rem;
}

.products-image-div-second {
    box-shadow: 2px 5px 15px 8px #d3d3d3;
}

.addtocart-productsMati {
    height: 55px;
    width: 400px;
    background-color: #8a2be2;
    margin-left: 2rem;
    margin-top: 1rem;
    border-radius: 8px;
    border: 1px solid #8a2be2;
    color: white;
    margin-bottom: 2rem;
    border: none;
    font-size: 20px;
}