.categories {
    border-bottom: 1px #c0c0c0 solid;
    color: #464646;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    /*tocar el width y margin para el border bottom*/
}

.button-select {
    border: none;
    border-radius: 100%;
    background-color: #ececec;
    display: flex;
    align-items: center;
    height: 30px;
}

.title-price {
    border-bottom: 1px #c0c0c0 solid;
    padding-bottom: 1rem;
    margin-bottom: 2rem;
    /*tocar el width y margin para el border bottom*/
}

.sideComponent {
    background-color: white;
}

body {
    background-color: #dedede;
}

.lowest {
    position: relative;
    right: 2px;
    border: none;
    background-color: transparent;
}

.highest {
    border: none;
    background-color: transparent;
}

.input-sidebar {
}

